@using CodeGenerator.Models;
@using CodeGenerator;

@{
    ViewData["Title"] = "Home Page";
}

<style>
    td {
        padding:15px;
    }

    .margin-bottom{
        margin-bottom: 1em;
    }

</style>

    <div class="text-center">
        <h1 class="display-4">Генерация</h1>

        <div class="row col-lg-12">
            <div class="col-lg-12 margin-bottom">
                <input value="Сгенерировать код!" type="button" id="generate-button" />
            </div>
        </div>
        <div class="form-row col-lg-12 margin-bottom">
            <div class="col-lg-3">
                <label for="class-name">Наименование структуры</label>
            </div>
            <div class="col-lg-3">
                <input type="text" id="class-name" placeholder="Имя структуры" />
            </div>
            <div class="col-lg-1">
                <label for="class-type">Тип</label>
            </div>
            <div class="col-lg-2">
                <select style="width: 100%;" id="class-type" asp-items="Html.GetEnumSelectList<StructType>()"></select>
            </div>
            <div class="form-check col-lg-3">
                    <input class="form-check-input" style="margin-left: -15px" type="checkbox" checked id="class-constructor">
                    <label class="form-check-label" for="class-constructor">Конструктор</label>
            </div>
        </div>
        <div class="row col-lg-12 margin-bottom">
            <div class="col-lg-6">
                <table>
                    <thead>
                        <tr>
                            <th>Имя поля</th>
                            <th>Тип поля</th>
                            <th>Удалить</th>
                            <th style="padding-left: 5px;"><input value="+" type="button" id="add-button" /></th>
                        </tr>
                    </thead>
                    <tbody id="params">
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <pre id="success-log" style="text-align:left;"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts{
    <script>
        let data = [];
        let lastId = 0;
        $(function () {
            $('#add-button').on('click', function () {
                const id = lastId;
                lastId++;
                const element = { number: id, name: '', type: 0 };
                data.push(element);
                $('#params').append(`<tr id="row-${id}">
                            <td><input type="text" placeholder="Имя поля" onchange="data.find(x => x.number === ${id}).name = this.value;"/></td>
                            <td>${createSelect(id)}</td>
                            <td><input type="button" onclick="data = data.filter(x => x.number != ${id}); $('#row-${id}').remove();" value="X" /></td>
                            </tr>`);
            });

            $('#generate-button').on('click', function () {
                $.ajax({
                    url: '@Url.Action("Generate")',
                    type: "post",
                    data: { name: $('#class-name').val(), hasConstructor: $('#class-constructor').prop('checked'), type: $('#class-type').val(), fields: data },
                    success: function (response) { $('#success-log').text(response); console.log(response);}
                });
            });
        });

        function createSelect(id) {
            return `<select onchange="data.find(x => x.number === ${id}).type = this.value;">
                    @(Html.Raw(string
                        .Join("\n",
                            FieldType.Char
                                .GetEnumDescriptions()
                                .Select(x => $"<option value=\"{x.Value}\">{x.Name}</option>"))))
                    </select>`
        }
    </script>
}